@{
    ViewBag.Title = "Caronte Trasporti";
    ViewBag.Message = "Il tuo Affidabile Partner nel Trasporto";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Sede Centrale:<br />
        Via Delle Scrofe, 34<br />
        Roma<br />
        CAP: 00100<br />
        <abbr title="Telefono">Tel:</abbr> +39 012 345 6789
    </address>

    <address>
        Filiale Sud:<br />
        Via Cacc. delle Alpi, 456<br />
        Vittoria, RG<br />
        CAP: 97019<br />
        <abbr title="Telefono">Tel:</abbr> +39 087 654 3210
    </address>

    <p>
        Caronte Trasporti è la scelta ideale per le tue esigenze di trasporto. Con una flotta moderna e affidabile,
        garantiamo consegne puntuali in tutto il territorio nazionale. Il nostro impegno per l'eccellenza ci distingue
        come leader nel settore del trasporto merci.
    </p>

    <address>
        <strong>Supporto Clienti:</strong>   <a href="mailto:supporto@carontetransporti.com">supporto@carontetransporti.com</a><br />
        <strong>Richieste Marketing:</strong> <a href="mailto:marketing@carontetransporti.com">marketing@carontetransporti.com</a>
    </address>

    <p class="h4">
        Unisciti a noi nel plasmare il futuro del trasporto. Caronte Trasporti - il ponte affidabile per le tue merci!
    </p>
</main>
