@{
    ViewBag.Title = "Benvenuto";
}
<img src="https://www.cesped.it/wp-content/uploads/2019/07/ROAD_IT.png" class="w-100 h-75" />

<main>

    <section class="row mt-3" aria-labelledby="welcomeTitle">
        <h1 id="welcomeTitle">Benvenuti in Caronte Trasporti</h1>
        <p class="lead">Siamo un'azienda specializzata nel trasporto internazionale, fornendo soluzioni di logistica efficienti e affidabili.</p>
        <p>La nostra missione è semplificare il processo di trasporto, offrendo servizi di alta qualità e garantendo la sicurezza dei vostri carichi.</p>
        <p>Con anni di esperienza nel settore, siamo orgogliosi di essere leader nell'industria del trasporto internazionale.</p>
        <p><a href="#servizi" class="btn btn-outline-danger btn-md">Scopri i nostri servizi &raquo;</a></p>
    </section>

    <div class="row" id="servizi">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Trasporto Internazionale</h2>
                    <p class="card-text">Offriamo servizi di trasporto internazionale efficienti e tempestivi, garantendo che le vostre merci raggiungano destinazioni in tutto il mondo in modo sicuro.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body shadow">
                    <h2 class="card-title">Soluzioni di Logistica</h2>
                    <p class="card-text">La nostra azienda fornisce soluzioni complete di logistica, ottimizzando il flusso delle merci e garantendo una gestione senza problemi dei vostri trasporti.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body shadow">
                    <h2 class="card-title">Sicurezza al Primo Posto</h2>
                    <p class="card-text">La sicurezza è la nostra massima priorità. Implementiamo misure rigorose per garantire che le vostre merci siano sempre al sicuro durante il trasporto internazionale.</p>
                </div>
            </div>
        </div>
    </div>

</main>